<!DOCTYPE html>
<html lang="es">

</html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} {{trip}}</title>
    <link rel="stylesheet" href="/static/styles/css/bulma.min.css">
    <link rel="stylesheet" href="/static/styles/css/charts.css">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
    <section class="hero is-primary is-small block">
        <div class="hero-body level">
            <div class="level-left">
                <a class="level-item icon icon-image icon-back" href="/"></a>
                <p class="level-item title">
                    Visualización de datos
                </p>
            </div>
        </div>
    </section>

    <section class="section py-0">
        <div class="level">
            <h2 class="level-left title is-4 mb-0">Información de trayecto</h2>
            <a href="{{ url_for('download_csv', data_id=tripId) }}">
                <button class="level-right button is-info is-light">
                    <span>Descargar CSV</span>
                    <span class="icon icon-image icon-download">
                    </span>
                </button>
            </a>
        </div>
        
        <div class="level box" id="trip-info" data-trip-id="{{ tripId }}">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Fecha:</p>
                    <p class="title is-5 has-text-info">{{ date }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Dispositivo:</p>
                    <p class="title is-5 has-text-info">{{ device }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Datos cinemáticos</p>
                    <p class="title is-5 has-text-info">{{ kinematicData }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Vehículo</p>
                    <p class="title is-5 has-text-info">{{ vehicle }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <h2 class="title is-4">Seleccionar grafico y variable</h2>
        <div class="columns is-flex">
            <div class="column">
                <div class="field">
                    <label class="label">Grafico:</label>
                    <div class="control">
                        <div class="select is-info" id="graph-select">
                            <select>
                                <option selected disabled>Seleccionar</option>
                                <option value="lineal">Lineal</option>
                                <option value="histogram">Histograma</option>
                                <option value="pie">De pastel</option>
                                <option value="scatter">Diagrama de dispersión</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label class="label">Variable:</label>
                    <div class="control">
                        <div class="select is-info" id="variable-select">
                            <select>
                                <option selected disabled>Seleccionar</option>
                                <option value="speed">Velocidad</option>
                                <option value="breakPosition">Presión del freno</option>
                                <option value="accX">Acceleración en X</option>
                                <option value="accY">Acceleración en Y</option>
                                <option value="accZ">Acceleración en Z</option>
                                <option value="velAngX">Velocidad angular en X</option>
                                <option value="velAngY">Velocidad angular en Y</option>
                                <option value="velAngZ">Velocidad angular en Z</option>
                                <option value="magX">Fuerza magnética en X</option>
                                <option value="magY">Fuerza magnética en Y</option>
                                <option value="magZ">Fuerza magnética en Z</option>
                            </select>
                        </div>
                        <p class="help has-text-info is-hidden"></p>
                    </div>
                </div>
            </div>

            <div class="column is-align-self-flex-end">
                <button class="button is-primary" id="graph-btn">Graficar</button>
            </div>
        </div>
        <p class="help has-text-danger is-hidden" id="error-msg">Por favor, seleccione un tipo de gráfico y una variable (si corresponde).</p>


        <div class="box ml-0 mb-6">
            <div id='chart' class="chart">
                <!-- Plotly chart will be drawn here-->
            </div>
        </div>
    </section>
</body>

<script src="/static/js/charts.js"></script>

</html>