<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/css/bulma.min.css">
    <link rel="stylesheet" href="../static/styles/css/home.css">
    <title>ICRDS Web</title>
</head>
<body>
    <main>
        <section class="hero is-large is-primary p-6">
            <div class="hero-body is-flex is-flex-direction-column is-justify-content-center p-0">
              <h1 class="title has-text-weight-bold has-text-centered is-size-2">
                Sistema de detección inteligente de riesgos de colisión
              </h1>
              <div class="mt-5 columns is-centered is-variable is-8">
                  <div class="column is-two-fifths">
                      <a class="box btn-section btn-trips" href="/trips">
                        <h2 class="has-text-white has-text-centered has-text-weight-bold is-size-3 is-size-2-desktop">
                          Información de trayectos
                        </h2>
                      </a>
                  </div>
                  <div class="column is-two-fifths">
                      <a class="box btn-section btn-maps" href="/maps">
                        <h2 class="has-text-white has-text-centered has-text-weight-bold is-size-3 is-size-2-desktop">
                          Mapas de resultados
                        </h2>
                      </a>
                  </div>
              </div>
            </div>
          </section>
    </main>
</body>
</html>
