<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/css/bulma.min.css">
	<link rel="stylesheet" href="../static/styles/css/index.css">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<section class="hero is-primary is-small block">
			<div class="hero-body">
				<p class="title">
					Información recolectada en trayectos
				</p>
			</div>
		</section>
	</header>
	<main>
		<section class="section py-5">

			<div class="block">
				<h5 class="is-size-5 has-text-weight-bold has-text-info-dark has-text-centered">Filtrar información</h5>

				<div class="columns is-mobile is-centered is-multiline mt-1">
					<div class="column">
						<div class="level is-mobile">
							<div class="level-left is-align-items-flex-end">
								<div class="level-item">
									<div class="field">
										<label class="label has-text-weight-normal has-text-info-dark">Desde:</label>
										<div class="control">
											<input id="initial-date" class="input" type="date" placeholder="fecha inicial">
										</div>
									</div>
								</div>
								<div class="level-item">
									<div class="field">
										<label class="label has-text-weight-normal has-text-info-dark">Hasta:</label>
										<div class="control">
											<input id="final-date" class="input" type="date" placeholder="fecha inicial">
										</div>
									</div>
								</div>
								<div class="level-item pb-2">
									<span id="clear-date-filter" class="icon icon-image icon-clear is-invisible"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="level is-mobile">
							<div class="level-left is-align-items-flex-end">
								<div class="level-item">
									<div class="field">
										<label class="label has-text-weight-normal has-text-info-dark">Vehiculo:</label>
										<div class="control">
											<div class="select">
												<select name="vehicle-filter" id="vehicle-filter">
													<option selected disabled>Seleccione vehículo</option>
													<option value="Renault Stepway (Huawei Mate 20 Lite)">Renault Stepway (Huawei Mate 20 Lite)</option>
													<option value="Renault Stepway (Xiaomi Redmi Note 9S)">Renault Stepway (Xiaomi Redmi Note 9S)</option>
													<option value="Nissan March (Huawei Mate 20 Lite)">Nissan March (Huawei Mate 20 Lite)</option>
													<option value="Nissan March (Xiaomi Redmi Note 9S)">Nissan March (Xiaomi Redmi Note 9S)</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="level-item pb-2">
									<span id="clear-vehicle-filter" class="icon icon-image icon-clear is-invisible"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="level is-mobile">
							<div class="level-left is-align-items-flex-end">
								<div class="level-item">
									<div class="field">
										<label class="label has-text-weight-normal has-text-info-dark">Ruta:</label>
										<div class="control">
											<div class="select">
												<select name="route-filter" id="route-filter">
													<option selected disabled>Seleccione ruta</option>
													<option value="Aceleración repentina">Aceleración repentina</option>
													<option value="Frenada repentina">Frenada repentina</option>
													<option value="Giro derecho agresivo">Giro derecho agresivo</option>
													<option value="Giro izquierdo agresivo">Giro izquierdo agresivo</option>
													<option value="Cambio de línea agresivo derecha">Cambio de línea agresivo derecha</option>
													<option value="Cambio de línea agresivo izquierda">Cambio de línea agresivo izquierda</option>
													<option value="Conducción por Ipiales">Conducción por Ipiales</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="level-item pb-2">
									<span id="clear-route-filter" class="icon icon-image icon-clear is-invisible"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		

			<h5 class="is-size-5 has-text-weight-bold has-text-info-dark has-text-centered">Datos de Trayectos</h5>
			<div class="tabs is-centered is-boxed mt-3">
				<ul id="tabs">
					<li class="is-active" data-device="smartphone"><a>Smartphone</a></li>
					<li data-device="raspberry"><a>Raspberry</a></li>
				</ul>
			</div>
			<div class="card table-container is-centered table-background-color">
				<table class="table is-hoverable is-fullwidth mb-0" data-tab="smartphone">
					<thead>
						<tr class="has-background-info-light">
							<th class="has-text-info-dark">Fecha</th>
							<th class="has-text-info-dark">Datos cinemáticos</th>
							<th class="has-text-info-dark">Id del Vehículo</th>
							<th class="has-text-info-dark">Ruta</th>
							<th class="has-text-info-dark">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for key,value in trips.items()  %}
							{% if value['device'] == 'Smartphone' %}
							<tr id="{{ key }}" data-href="./trips/details/{{key}}">
								<th>{{ value['date'] }}</th>
								<td>{{ value['kinematicData'] }}</td>
								<td>{{ value['vehicle'] }}</td>
								<td>{{ value['route'] }}</td>
								<td>
									<span class="icon icon-image icon-delete" data-item="{{ key }}"></span>
									<a class="icon icon-image icon-details" href="./trips/details/{{ key }}"></a>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>		
			
				<table class="table is-hoverable is-fullwidth is-hidden" data-tab="raspberry">
					<thead>
						<tr class="has-background-info-light">
							<th class="has-text-info-dark">Fecha</th>
							<th class="has-text-info-dark">Datos cinemáticos</th>
							<th class="has-text-info-dark">Id del Vehículo</th>
							<th class="has-text-info-dark">Ruta</th>
							<th class="has-text-info-dark">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for key,value in trips.items()  %}
							{% if value['device'] == 'Raspberry' %}
							<tr id="{{ key }}">
								<th>{{ value['date'] }}</th>
								<td>{{ value['kinematicData'] }}</td>
								<td>{{ value['vehicle'] }}</td>
								<td>{{ value['route'] }}</td>
								<td>
									<span class="icon icon-image icon-delete" data-item="{{ key }}"></span>
									<a class="icon icon-image icon-details" href="./trips/details/{{ key }}"></a>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
		<div id="modal-confirmation" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<article class="message is-danger">
					<div class="message-body has-background-white">
						<p>¿Esta seguro de eliminar este trayecto?</p>
						<div class="buttons mt-3">
							<button class="button is-light is-small" data-cancel>Cancelar</button>
							<button class="button is-danger is-small" data-delete>Eliminar</button>
						</div>
					</div>
				</article>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
		<div id="notification" class="notification is-light custom-notification is-hidden">
			<button class="delete"></button>
			<p></p>			
		</div>
	</main>
	<script src="../static/js/index.js"></script>
</body>
</html>