<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/css/bulma.min.css">
	<link rel="stylesheet" href="../static/styles/css/index.css">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<section class="hero is-primary is-small block">
			<div class="hero-body">
				<p class="title">
					Información recolectada en trayectos
				</p>
			</div>
		</section>
	</header>
	<main>
		<section class="section py-1">
			<div class="tabs is-centered is-boxed">
				<ul id="tabs">
					<li class="is-active" data-device="smartphone"><a>Smartphone</a></li>
					<li data-device="raspberry"><a>Raspberry</a></li>
				</ul>
			</div>
			<div class="card table-container is-centered table-background-color">
				<table class="table is-hoverable is-fullwidth mb-0" data-tab="smartphone">
					<thead>
						<tr class="has-background-info-light">
							<th class="has-text-info-dark">Fecha</th>
							<th class="has-text-info-dark">Datos cinemáticos</th>
							<th class="has-text-info-dark">Id del Vehículo</th>
							<th class="has-text-info-dark">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for key,value in trips.items()  %}
							{% if value['device'] == 'Smartphone' %}
							<tr id="{{ key }}" data-href="./trips/details/{{key}}">
								<th>{{ value['date'] }}</th>
								<td>{{ value['kinematicData'] }}</td>
								<td>{{ value['vehicle'] }}</td>
								<td>
									<span class="icon icon-image icon-delete" data-item="{{ key }}"></span>
									<a class="icon icon-image icon-details" href="./trips/details/{{ key }}"></a>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>		
			
				<table class="table is-hoverable is-fullwidth is-hidden" data-tab="raspberry">
					<thead>
						<tr class="has-background-info-light">
							<th class="has-text-info-dark">Fecha</th>
							<th class="has-text-info-dark">Datos cinemáticos</th>
							<th class="has-text-info-dark">Id del Vehículo</th>
							<th class="has-text-info-dark">Opciones</th>
						</tr>
					</thead>
					<tbody>
						{% for key,value in trips.items()  %}
							{% if value['device'] == 'Raspberry' %}
							<tr id="{{ key }}">
								<th>{{ value['date'] }}</th>
								<td>{{ value['kinematicData'] }}</td>
								<td>{{ value['vehicle'] }}</td>
								<td>
									<span class="icon icon-image icon-delete" data-item="{{ key }}"></span>
									<span class="icon icon-image icon-details" data-item="{{ key }}"></span>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
		<div id="modal-confirmation" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<article class="message is-danger">
					<div class="message-body has-background-white">
						<p>¿Esta seguro de eliminar este trayecto?</p>
						<div class="buttons mt-3">
							<button class="button is-light is-small" data-cancel>Cancelar</button>
							<button class="button is-danger is-small" data-delete>Eliminar</button>
						</div>
					</div>
				</article>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>
		<div id="notification" class="notification is-light custom-notification is-hidden">
			<button class="delete"></button>
			<p></p>			
		</div>
	</main>
	<script src="../static/js/index.js"></script>
</body>
</html>