<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/css/bulma.min.css">
    <link rel="stylesheet" href="../static/styles/css/maps.css">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <title>Mapas</title>
</head>

<body>
    <main class="">
        <div class="burguer-menu has-background-primary-light">
            <i></i>
        </div>
        <div class="tile is-ancestor mt-0">
            <aside class="tile is-child menu has-background-primary is-3 py-5 px-5 is-hidden sidebar">
                <div class="sidebar-close-btn">
                    <i></i>
                </div>
                <div class="is-flex is-flex-direction-column is-align-items-center">
                    <figure class="image is-64x64">
                        <img src="/static/imgs/map-search-outline.svg" alt="icono de mapa">
                    </figure>
                    <h2 class="title has-text-white has-text-centered">Mapa de resultados</h2>
                </div>
                <p class="menu-label mt-6">
                    Dispositivo
                </p>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="device-filter" id="device-filter">
                                <option selected disabled>Selec. dispositivo</option>
                                <option value="smartphone">Smartphone</option>
                                <option value="raspberry">Raspberry</option>
                            </select>
                        </div>
                    </div>
                </div>
                <p class="menu-label">
                    Ruta
                </p>
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="route-filter" id="route-filter">
                                <option selected disabled>Seleccione ruta</option>
                                <option value="all">Todas las rutas</option>
                                <option value="Ruta 1 - Calle 5">Ruta 1 - Calle 5</option>
                                <option value="Ruta 2 - Variante">Ruta 2 - Variante</option>
                                <option value="Ruta 3 - Panamericana">Ruta 3 - Panamericana</option>
                                <option value="Ruta 4 - Carreras 6 a 9">Ruta 4 - Carreras 6 a 9</option>
                                <option value="Ruta 5 - Centro">Ruta 5 - Centro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button id="load-map" class="button is-info is-light mt-4">Cargar Mapa</button>
            </aside>

            <div class="tile is-child has-background-primary-light map-container px-3 py-2">
                <div id="map-buttons" class="field is-grouped map-buttons is-hidden">
                    <button id="heat-map" class="button is-rounded map-button">Mapa de calor</button>
                    <button id="dot-map" class="button is-rounded map-button">Mapa de puntos</button>
                </div>
                <div class="map-msg">
                    <p id="map-msg"class="subtitle has-text-info-dark has-text-centered">
                        Seleccione una ruta, un dispositivo y haga click en <strong class="has-text-info">Cargar Mapa</strong>                        
                    </p>
                    <progress id="map-loading" class="progress is-small is-info is-hidden" max="100">15%</progress>
                </div>
                <div id="map" class="box map">
                    <!--Plotly chart will be drawn here-->
                </div>
            </div>
        </div>
        
    </main>
    <script src="/static/js/maps.js"></script>
</body>


</html>